<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
            http://www.springframework.org/schema/beans/spring-beans.xsd
            http://www.springframework.org/schema/context
            http://www.springframework.org/schema/context/spring-context-3.0.xsd">
            
            
        	<bean id="item1" class="pojo_classes.Item">
        	<property name="name" value="Iphone"></property>
        	<property name="price" value="10000"></property>
        	
        	</bean>
        	<bean id="item2" class="pojo_classes.Item">
        	<property name="name" value="shoes"></property>
        	<property name="price" value="50000"></property>
        	
        	</bean>
        	<bean id="amazon" class="pojo_classes.Amazon">
        	<property name="cart">
        	<map>
        	<entry key="101" value-ref="item1"></entry>
        	<entry key="102" value-ref="item2"></entry>
        	</map>
        	 </property>
        	  </bean>
        	

	
	
</beans>